<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<form action="/posts/create">
    제목:<input name="input_title" type='text'></input> <br>
    내용:<input name="input_content" type='text'></input> <br>
    작가:<input name="input_writer" type='text'></input> <br>
    <input type="submit"></input>
</form>